asgiref==3.8.1
build==1.2.2.post1
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
Django==5.1.7
filelock==3.18.0
identify==2.6.9
nodeenv==1.9.1
packaging==24.2
pip-tools==7.4.1
platformdirs==4.3.6
pre_commit==4.1.0
pyproject_hooks==1.2.0
PyYAML==6.0.2
setuptools==76.0.0
sqlparse==0.5.3
PyMuPDF==1.25.4
virtualenv==20.29.3
wheel==0.45.1
psycopg2-binary==2.9.10
flake8==4.0.1
flake8-isort==4.1.1
coverage==6.4
black==24.2.0
pylint-django==2.5.3
django-markdownify==0.9.5
djangorestframework==3.15.2
django-filter==25.1
