{% load static vite_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>

    {% block extra_head %}

    {% endblock %}
    {% block head_script %}

    {% endblock %}

    {% vite_css_standalone 'src/styles/style.scss' %}
    <title>
      {% block title %}
        Quora
      {% endblock %}
    </title>
  </head>
  <body data-bs-theme="light">
    {% csrf_token %}

    {% block content %}

    {% endblock %}

    {% vite_js 'src/main.jsx' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block script %}

    {% endblock %}
  </body>
</html>
